################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NN-PEF/FileContentIndex/218bdfa9-264e-4ea4-9b79-44a64ecd7bce.vsidx
