@using NNPEFWEB.ViewModel
@model ForgotPasswordViewModel

@{

    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/css/logintemplate.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script src="~/js/app.js" defer></script>
</head>
<body>
    <div class="wrapper" id="app">
        <div class="imagebackground">
            <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
                <div class="card card0 border-0">
                    <div class="row d-flex">
                        <div class="col-lg-6">
                            <img style="margin-left:200px" src="~/Image/navylogo2.png" class="logo">
                            @*<h4 style="margin-left:50px"><i>My First Sign in, Use SVC as Username and</i></h4>
                                <h4 style="margin-left:200px"><i>Password</i></h4>*@
                        </div>
                        <div class="col-lg-6">
                            <div class="card2 card border-0 px-4 py-5">
                               @if (TempData["ErrorMessage"] != null)
                               {
                                <h3 style="color:brown">@TempData["ErrorMessage"]</h3>
                               }
                                <div class="row mb-4 px-3">
                                    <h3 class="mb-0 mr-4 mt-2">Forgot Password</h3>

                                </div>
                                <div class="row px-3 mb-4">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </div>

                                @using (Html.BeginForm("ForgotPassword", "Authentication", FormMethod.Post))
                                {
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div>
                                        <div class="row px-3">
                                            <label for="Username" style="margin-top:-18px">Username</label>
                                            <input name="Username" class="mb-4 form-styling" placeholder="" required />
                                            <span asp-validation-for="Username" class="text-danger"></span>
                                        </div>
                                        <div class="row px-3">
                                            <label for="Email" style="margin-top:-18px">Email</label>
                                            <input type="email" name="Email" class="mb-4 form-styling" placeholder="" required />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input id="chk1" type="checkbox" asp-for="messageType" value="sms" class="custom-control-input">
                                            <label for="chk1" class="custom-control-label text-sm">SMS</label>
                                        </div>
                                        <div class="row mb-3 px-3">
                                            <button type="submit" class="btn-signin text-center">Submit</button>
                                        </div>

                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="bg-blue py-4">
                        <div class="row px-3">
                            <small class="ml-4 ml-sm-5 mb-2">
                                Copyright &copy; @DateTime.Now.Year<a style="color:yellowgreen" href="https://hicadsystemsltd.com/" _blank>Hicad Systems LTD</a> All rights
                                reserved.
                            </small>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/loginjs.js"></script>
    <link href="~/css/font-awsome.css" rel="stylesheet" />
    <script src="~/js/jQuery.js"></script>
</body>
</html>
