@model NNPEFWEB.ViewModel.CommandLoginVM
@using Microsoft.AspNetCore.Http
@{ //ViewData["Title"] = "Login"
                Layout = null; 
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/css/logintemplate.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script src="~/js/app.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper" id="app">
        <div class="imagebackground">
            <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
                <div class="card card0 border-0">
                    <div class="row d-flex">
                        <div class="col-lg-6">
                            <img style="margin-left:200px" src="~/Image/navylogo2.png" class="logo">
                            @*<h4 style="margin-left:50px"><i>My First Sign in, Use SVC as Username and</i></h4>
                                <h4 style="margin-left:200px"><i>Password</i></h4>*@
                        </div>
                        <div class="col-lg-6">
                            <div class="card2 card border-0 px-4 py-5">
                                @if (TempData["ErrorMessage"] != null)
                                {
                                    <h3 style="color:brown">@TempData["ErrorMessage"]</h3>
                                }
                                <div class="row mb-4 px-3">
                                    <h3 class="mb-0 mr-4 mt-2">Admin Sign in Here</h3>

                                </div>
                                <div class="row px-3 mb-4">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </div>

                                <form id="account" method="post" asp-controller="Authentication" asp-action="Login">
                                    <login-componet></login-componet>

                                    @Html.ActionLink("Forgot Password?", "ForgotPassword", "Authentication")
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="bg-blue py-4">
                        <div class="row px-3">
                            <small class="ml-4 ml-sm-5 mb-2">
                                Copyright &copy; @DateTime.Now.Year &copy; <a style="color:yellowgreen" href="https://hicadsystemsltd.com/" _blank>Hicad Systems LTD</a> All rights
                                reserved.
                            </small>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(".toggle-password").click(function () {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    </script>
    <script src="~/js/loginjs.js"></script>
    <link href="~/css/font-awsome.css" rel="stylesheet" />
    <script src="~/js/jQuery.js"></script>
</body>
</html>
