@model NNPEFWEB.ViewModel.PayslipRequestModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "OfficerRecord";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>NN-CPO</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />


    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/datepicker.css" rel="stylesheet" />
</head>


<body id="page-top">
    @if(TempData["message"] != null) 
    { 
    <script>
        alert("Pay Slip for this month is not avialable");
    </script>
    }

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color:#052d4b;color:white">
        <div class="container">
            @*<a class="navbar-brand js-scroll-trigger" href="#page-top">*@
                <img src="~/assets/img/cpo/logo.svg" alt="..." width="70"/>
            @*</a>*@
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ml-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">


                    <li class="nav-item"><a class="nav-link" href="https://nncpo.ng/">Log Out</a></li>
                    @*<li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="PersonnelLogin">Home</a></li>*@
                  
                </ul>
            </div>
        </div>
    </nav>

    <div class="row-cols-4" style="height:190px">
    </div>
    <div class="container">

        <h2>Welcome To Pay Slip Portal</h2>
        <form asp-action="Payslip" method="post" enctype="multipart/form-data">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                       <div class="form-group">
                            <label>Enter Month</label>
                            <select asp-for="startMonth" class="form-control" asp-items="@(new SelectList(Model.monthlist,"Value", "Text"))">
                            </select>
                       </div>  
                    </div>
                   
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Enter year</label>
                            <select asp-for="endYear" class="form-control" asp-items="@(new SelectList(Model.yearlist,"Value", "Text"))">
                             
                            </select>
                        </div>
                       
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="submit" value="Download slip" class="btn btn-success" />
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>

</body>
</html>

