@model NNPEFWEB.ViewModel.ForgetPasswordModel
@using Microsoft.AspNetCore.Http
@{ //ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_CustomLayout.cshtml"; }

<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-3">
                <img style="margin-left:100px" src="~/Image/navylogo2.png" class="logo">
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="row mb-4 px-3">
                        <h3>Reset Your Password</h3>


                    </div>
                    <div class="row px-3 mb-4">
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>

                    <form id="account" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="row px-3">
                            <label class="mb-1">
                                <h6 class="mb-0 text-sm">New Password</h6>
                            </label>
                            <input asp-for="NewPassword" class="mb-4 form-styling" type="password" id="email1" onkeyup="check();" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="row px-3">
                            <label class="mb-1">
                                <h6 class="mb-0 text-sm">Confirm Password</h6>
                            </label>
                            <input asp-for="ConfirmPassword" class="mb-4 form-styling" type="password" id="email2" onkeyup="check();" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <h3><span id='message'></span></h3>

                        <div class="row mb-3 px-3">
                            <button type="submit" class="btn-signin text-center">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="bg-blue py-4">
            <div class="row px-3">
                <small class="ml-4 ml-sm-5 mb-2">
                    Copyright &copy; @DateTime.Now.Year<a style="color:yellowgreen" href="https://hicadsystemsltd.com/" _blank>Hicad Systems LTD</a> All rights
                    reserved.
                </small>

            </div>
        </div>
    </div>

</div>

<script>var check = function () {
        if (document.getElementById('email1').value ==
            document.getElementById('email2').value) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'matching';
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'not matching';
        }
    }</script>